/*** ====================================================================
	Service Area css
==================================================================== ***/
.service-block-three {
  .inner-box {
    .icon-box {
      margin-top: 35px;
      margin-bottom: 16px;
      i {
        color: #242424;
        line-height: 100px;
        &:before {
          font-size: 150px;
          margin-left: 0px;
        }
      }
    }
  }
}
/*** ====================================================================
	End Service Area css
==================================================================== ***/
