/*** ====================================================================
    Home Slider css
==================================================================== ***/
.main_slider_area {
  &.slider_bg {
    background: url(../images/main-slider/slider-bg.jpg) no-repeat scroll center
      center;
    background-size: cover;
  }
  .sm_text {
    color: #f7b82d;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
  }
  .first_text {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  .middle_text {
    color: #fff;
    font-family: "Playfair Display", serif;
  }
  .secand_text {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-style: italic;
  }
  .slider_button {
    .view_all_btn {
      background: #fff;
      color: #242424;
      border-radius: 5px;
      line-height: 60px;
      padding: 0px 56px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      display: inline-block;
      font-size: 15px;
      letter-spacing: 3px;
      position: relative;
      font-weight: 600;
      z-index: 3;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background-color: #eec300;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: scale(0.5, 1);
        transform: scale(0.5, 1);
        border-radius: 5px;
      }
      &:hover {
        &:before {
          opacity: 1;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }
  }
  .food_text {
    color: #fff;
    font-family: "NiagaraSolid-Reg";
    span {
      display: block;
      font-size: 107px !important;
      line-height: 80px !important;
      font-family: "PalaceScriptMT";
      margin-bottom: -63px !important;
      margin-left: 21px !important;
    }
  }
  .tasty_text {
    color: #fff;
    font-family: "NiagaraSolid-Reg";
    span {
      display: block;
      font-size: 107px !important;
      line-height: 80px !important;
      font-family: "PalaceScriptMT";
      margin-bottom: -52px !important;
      margin-left: 0px !important;
      margin-right: 16px !important;
    }
  }
  #main_slider2 {
    background: url(../images/main-slider/slider-bg-2.jpg) no-repeat scroll
      center center;
    background-size: cover;
  }
}
/*** ====================================================================
    End Home Slider css
==================================================================== ***/
